@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --main-color:#E50914;
    --seconodary-color:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: var(--seconodary-color);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
}
header .logo {
    margin-left: 5px;
    color: var(--main-color);
    /* font-family: 'Arial Black', Times; */
    font-size: 40px;
}
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover {
    color: #fff;
}

.featured-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0, 0.4) 100%), url('/assets/img/capa-house.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.featured-movie .description {
    margin-top: 10px;
    margin-bottom: 40px;
}
.featured-movie .container {
    margin-left: 30px;
    width: 70%;
}
.title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button-featured-movie {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.45s ease all;
}
.button-featured-movie:hover {
    background-color: white;
    color: black;
}
.movie-box {
    height: 100%;
    width: 100%;
    display: block;
}
.carousel-movies {
    margin-top: 5px;
}

@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .button-featured-movie {
        margin-top: 20px;
        width: 300px;
    }
}
@media screen and (min-width: 1000px) {
    .description {
        width: 50%;
    }
}